# Transit Matrix

In [2]:
import sys, os
os.chdir('/home/sihan/UChicago/Projects/spatial_access/spatial_access')
from p2p import *
from spatial_access.Models import *
%matplotlib inline

**View data structure: Schools in Beijing.**

In [9]:
df = pd.read_csv('data/dest/school.csv')

In [10]:
df.rename(columns={'KIND':'cate_code'}, inplace=True)

In [11]:
df['OBJECTID'] = df['OBJECTID'].apply(str).str[:-2]

In [12]:
dict_cate = {
"A700": "Universities",
"A701": "Kindergarten",
"A702": "Primary Schools",
"A703": "High Schools",
"A708": "Occupational Schools",
"A709": "Occupational Schools"
}

In [13]:
df['category'] = df['cate_code'].map(dict_cate)

In [14]:
df.head()

   id cate_code OBJECTID         lon        lat         category
0   1      A701        3  116.529609  40.096216     Kindergarten
1   2      A703        4  116.653038  39.851399     High Schools
2   3      A701     2424  116.826920  40.370471     Kindergarten
3   4      A702     2424  116.955374  40.561026  Primary Schools
4   5      A703        5  116.456567  40.048734     High Schools

In [15]:
df.groupby('cate_code').count()

             id  OBJECTID   lon   lat  category
cate_code
A700        661       661   661   661       661
A701       1540      1540  1540  1540      1540
A702       1390      1390  1390  1390      1390
A703        772       772   772   772       772
A706        110       110   110   110         0
A708        301       301   301   301       301
A709       1414      1414  1414  1414      1414

In [16]:
df_model = df[df.category.notnull()]

In [17]:
df_model.to_csv('data/dest/school_model.csv', encoding='utf-8', index=False)

**View data structure: Hospitals in Beijing.**

In [8]:
dfh = pd.read_csv('data/dest/hospital_clean.csv')

In [23]:
dfh.head()

   id cate_code         lon        lat category
0   1      7280  117.260982  40.164635  Clinics
1   2      7280  117.261252  40.131678  Clinics
2   3      7280  116.634666  40.321699  Clinics
3   4      7280  116.776288  39.775103  Clinics
4   5      7280  116.676865  40.280147  Clinics

In [11]:
dfh.rename(columns={'kind':'cate_code'}, inplace=True)

In [25]:
dfh.groupby('cate_code').count()

             id   lon   lat  category
cate_code
7200        850   850   850       850
7204        445   445   445       445
7205        159   159   159       159
7280       2865  2865  2865      2865
7500         61    61    61        61
7580        269   269   269       269

In [17]:
dfh['cate_code'] = dfh['cate_code'].apply(str)

In [20]:
dict_hcate = {
"7280": "Clinics",
"7200": "Hospitals",
"7204": "Outpatient Facilities",
"7580": "Animal Hospitals",
"7500": "Disease Control and Prevention Centers",
"7205": "Emergency Departments"
}

In [22]:
dfh['category'] = dfh['cate_code'].map(dict_hcate)

In [26]:
dfh_model = dfh[dfh.category.notnull()]

In [27]:
dfh_model.to_csv('data/dest/hospital_model.csv', encoding='utf-8', index=False)

**View data structure: Subway Stations in Beijing.**

In [53]:
dfs = pd.read_csv('data/dest/subway.csv')

In [54]:
dfs['category'] = "subway"

In [55]:
dfs.head()

          lon        lat  id category
0  116.309893  39.872521   1   subway
1  116.300326  39.872593   2   subway
2  116.281826  39.871571   3   subway
3  116.259835  39.870755   4   subway
4  116.246953  39.865215   5   subway

In [57]:
dfs.to_csv('data/dest/subway_model.csv', encoding='utf-8', index=False)

***

## 1. Asymmetric Distance Matrix

### 1.1 School Matrix by Walking

In [45]:
# Calculate asymmetric distance matrix for walking (takes ~5 minutes to run) 
w_asym_mat = TransitMatrix(network_type='walk',
                           primary_input='data/orig/origin.csv',
                           secondary_input='data/dest/school_model.csv',
                           configs=Configs(disable_area_threshold=True, 
                                           epsilon=0.05))

In [46]:
w_asym_mat.process()
#The output is walk_asym_health_tracts.csv (used in the calculation of the metrics)

The variables in your data set are:
>  id
>  lat
>  lon
>  type
>  OBJECTID
Enter the longitude coordinate: lon
Enter the latitude coordinate: lat
Enter the index name: id
The variables in your data set are:
>  id
>  cate_code
>  OBJECTID
>  lon
>  lat
>  category
Enter the longitude coordinate: lon
Enter the latitude coordinate: lat
Enter the index name: id

INFO:p2p:All operations completed in 19.02 seconds

In [30]:
w_asym_mat.write_csv('/mnt/d/Auguste/Projects/soh-bj/data/walk_school_ep0.05.csv')

INFO:p2p:Wrote to /mnt/d/Auguste/Projects/soh-bj/data/walk_school_ep0.05_1.csv in 0.24 seconds

In [47]:
w_asym_mat.write_tmx('/mnt/d/Auguste/Projects/soh-bj/data/walk_school_ep0.05.tmx')

INFO:p2p:Wrote to /mnt/d/Auguste/Projects/soh-bj/data/drive_school_ep0.05.tmx in 0.12 seconds

### 1.2 Hospital Matrix by Walking

In [29]:
# Calculate asymmetric distance matrix for walking (takes ~5 minutes to run) 
w_asym_mat_h = TransitMatrix(network_type='walk',
                           primary_input='data/orig/origin.csv',
                           secondary_input='data/dest/hospital_model.csv',
                           configs=Configs(disable_area_threshold=True, 
                                           epsilon=0.05))

In [30]:
w_asym_mat_h.process()

The variables in your data set are:
>  id
>  lat
>  lon
>  type
>  OBJECTID
Enter the longitude coordinate: lon
Enter the latitude coordinate: lat
Enter the index name: id
The variables in your data set are:
>  id
>  cate_code
>  lon
>  lat
>  category
Enter the longitude coordinate: lon
Enter the latitude coordinate: lat
Enter the index name: id
Requesting network data within bounding box from Overpass API in 16 request(s)
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.41318600,116.97178289,39.81247549,117.46926900);>;);out;'}"
Downloaded 2,116.9KB from www.overpass-api.de in 2.33 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.41637525,116.47160265,39.81247549,116.97194325);>;);out;'}"
Downloaded 4,177.8KB from www.overpass-api.de in 1.79 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.41637505,115.97147927,39.81127580,116.47458856);>;);out;'}"
Downloaded 5,628.9KB from www.overpass-api.de in 3.11 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.41318600,115.48000300,39.80792039,115.97725759);>;);out;'}"
Downloaded 2,176.2KB from www.overpass-api.de in 2.33 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.80252386,115.48010984,40.20617504,115.97147927);>;);out;'}"
Downloaded 3,233.0KB from www.overpass-api.de in 4.07 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.20081945,115.48011233,40.60440145,115.96548450);>;);out;'}"
Downloaded 2,727.9KB from www.overpass-api.de in 2.23 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.59908852,115.48000300,41.00044290,115.95936908);>;);out;'}"
Downloaded 1,682.4KB from www.overpass-api.de in 8.63 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.60440146,115.95316438,41.00162176,116.46538010);>;);out;'}"
Downloaded 1,078.0KB from www.overpass-api.de in 1.37 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.60785220,116.46221080,41.00162176,116.97145058);>;);out;'}"
Downloaded 1,328.1KB from www.overpass-api.de in 2.45 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.60813634,116.97128233,41.00055244,117.46926900);>;);out;'}"
Downloaded 1,965.2KB from www.overpass-api.de in 1.96 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.20984694,116.97145058,40.60908597,117.46923576);>;);out;'}"
Downloaded 1,572.5KB from www.overpass-api.de in 1.57 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.81153014,116.97161839,40.21079448,117.46923550);>;);out;'}"
Downloaded 1,958.1KB from www.overpass-api.de in 2.02 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.20617504,115.95936908,40.60785220,116.46852238);>;);out;'}"
Downloaded 9,456.6KB from www.overpass-api.de in 3.15 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.80792039,115.96548450,40.20957785,116.47160265);>;);out;'}"
Downloaded 24,653.1KB from www.overpass-api.de in 7.29 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.20957785,116.46538010,40.60908597,116.97161839);>;);out;'}"
Downloaded 5,076.7KB from www.overpass-api.de in 2.46 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.81127580,116.46852238,40.21079448,116.97178289);>;);out;'}"
Downloaded 8,302.3KB from www.overpass-api.de in 2.26 seconds
Downloaded OSM network data within bounding box from Overpass API in 16 request(s) and 50.89 seconds
41,216 duplicate records removed. Took 5.26 seconds
Returning OSM data with 597,343 nodes and 76,579 ways...
Edge node pairs completed. Took 111.20 seconds
Returning processed graph with 108,014 nodes and 156,815 edges...
Completed OSM data download and Pandana node and edge table creation in 170.88 seconds

/home/sihan/.local/lib/python3.6/site-packages/pandas/core/generic.py:2377: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->['area', 'hgv', 'highway', 'junction', 'maxspeed', 'name', 'oneway', 'ref', 'toll', 'width']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)
INFO:p2p:Finished querying osm
INFO:p2p:All operations completed in 185.73 seconds

In [31]:
w_asym_mat_h.write_csv('/mnt/d/Auguste/Projects/soh-bj/data/walk_hospital_ep0.05.csv')

INFO:p2p:Wrote to /mnt/d/Auguste/Projects/soh-bj/data/walk_hospital_ep0.05.csv in 0.11 seconds

In [32]:
w_asym_mat_h.write_tmx('/mnt/d/Auguste/Projects/soh-bj/data/walk_hospital_ep0.05.tmx')

INFO:p2p:Wrote to /mnt/d/Auguste/Projects/soh-bj/data/walk_hospital_ep0.05.tmx in 0.03 seconds

### 1.3 Subway Matrix by Walking

In [46]:
w_asym_mat_s = TransitMatrix(network_type='walk',
                           primary_input='data/orig/origin.csv',
                           secondary_input='data/dest/subway.csv',
                           configs=Configs(disable_area_threshold=True, 
                                           epsilon=0.05))

In [47]:
w_asym_mat_s.process()

The variables in your data set are:
>  id
>  lat
>  lon
>  type
>  OBJECTID
Enter the longitude coordinate: lon
Enter the latitude coordinate: lat
Enter the index name: id
The variables in your data set are:
>  lon
>  lat
>  id
Enter the longitude coordinate: lon
Enter the latitude coordinate: lat
Enter the index name: id
Requesting network data within bounding box from Overpass API in 9 request(s)
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.58804320,116.86405351,39.90512631,117.33874080);>;);out;'}"
Downloaded 1,458.9KB from www.overpass-api.de in 2.12 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.58997728,116.38782524,39.90512631,116.86467149);>;);out;'}"
Downloaded 6,958.3KB from www.overpass-api.de in 2.10 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.58804320,115.91655560,39.90359019,116.39059451);>;);out;'}"
Downloaded 8,545.3KB from www.overpass-api.de in 2.67 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.90014497,115.91658803,40.22022379,116.38782524);>;);out;'}"
Downloaded 14,948.6KB from www.overpass-api.de in 2.97 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.21678712,115.91655560,40.53533950,116.38498477);>;);out;'}"
Downloaded 8,049.5KB from www.overpass-api.de in 2.23 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.22022379,116.38211273,40.53536110,116.86342268);>;);out;'}"
Downloaded 5,397.3KB from www.overpass-api.de in 1.75 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](40.22136207,116.86278799,40.53536110,117.33874080);>;);out;'}"
Downloaded 1,351.8KB from www.overpass-api.de in 2.20 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.90471129,116.86342268,40.22177713,117.33873063);>;);out;'}"
Downloaded 1,419.4KB from www.overpass-api.de in 0.99 seconds
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](39.90359019,116.38498477,40.22177713,116.86405351);>;);out;'}"
Downloaded 10,873.0KB from www.overpass-api.de in 3.15 seconds
Downloaded OSM network data within bounding box from Overpass API in 9 request(s) and 21.49 seconds
24,802 duplicate records removed. Took 4.46 seconds
Returning OSM data with 447,290 nodes and 66,801 ways...
Edge node pairs completed. Took 115.92 seconds
Returning processed graph with 93,674 nodes and 136,709 edges...
Completed OSM data download and Pandana node and edge table creation in 144.36 seconds

INFO:p2p:Finished querying osm
INFO:p2p:All operations completed in 158.23 seconds

In [48]:
w_asym_mat_s.write_tmx('/mnt/d/Auguste/Projects/soh-bj/data/walk_subway_ep0.05.tmx')

INFO:p2p:Wrote to /mnt/d/Auguste/Projects/soh-bj/data/walk_subway_ep0.05.tmx in 0.04 seconds

## 2. Access Score Model

### 2.1 Schools

In [58]:
accesst = AccessModel(network_type='walk',
                         transit_matrix_filename='/mnt/d/Auguste/Projects/soh-bj/data/walk_school_ep0.05.tmx',
                         sources_filename='data/orig/origin.csv',
                         source_column_names={'idx': 'id', 'population': 'skip', 'lat': 'lat', 'lon': 'lon'},
                         dest_column_names={'idx': 'id', 'category': 'category', 'capacity': 'skip', 'lat': 'lat', 'lon': 'lon'},
                         destinations_filename='data/dest/school_model.csv',
                         decay_function='logit')

In [63]:
dict_edu1 = {
"Universities": [5,4,3,2,1,1,1,1,1,1],
"High Schools": [10,10,9,9,8,8,7,7,6,6],
"Primary Schools": [10,10,9,9,8,8,7,7,6,6],
"Kindergarten": [10,10,9,9,8,8,7,7,6,6],
"Occupational Schools": [5,4,3,2,1,1,1,1,1,1]
}

In [64]:
accesst.calculate(upper_threshold=1800, category_weight_dict=dict_edu1, normalize=True)

INFO:spatial_access.BaseModel:Using weights: {'High Schools': [10, 10, 9, 9, 8, 8, 7, 7, 6, 6], 'Primary Schools': [10, 10, 9, 9, 8, 8, 7, 7, 6, 6], 'Occupational Schools': [5, 4, 3, 2, 1, 1, 1, 1, 1, 1], 'Kindergarten': [10, 10, 9, 9, 8, 8, 7, 7, 6, 6], 'Universities': [5, 4, 3, 2, 1, 1, 1, 1, 1, 1]}

,all_categories_score,High Schools_score,Primary Schools_score,Occupational Schools_score,Kindergarten_score,Universities_score
1,0.251615,0.166101,0.638266,0.119011,0.168919,0.077511
2,0.179373,0.000000,0.485082,0.057517,0.269042,0.000000
3,0.189387,0.048973,0.643986,0.011678,0.125002,0.000000
4,0.433480,0.354083,0.657475,0.598055,0.325226,0.518374
5,0.987937,0.998613,0.999958,0.999958,0.999975,0.848555
6,0.996205,0.996657,0.999888,0.999593,0.999824,0.965077
7,0.364047,0.347417,0.673600,0.010819,0.347515,0.084025
8,0.831308,0.885544,0.983116,0.884153,0.796702,0.252468
9,0.377086,0.214815,0.594013,0.551372,0.431082,0.187724
10,0.113450,0.007783,0.314975,0.238540,0.124942,0.102746
11,0.324860,0.471337,0.567258,0.043128,0.202245,0.000000
12,0.322184,0.451668,0.325120,0.453153,0.264643,0.231941
13,0.869920,0.577142,0.999982,0.999984,0.999983,0.999970
14,0.291777,0.337079,0.615602,0.069281,0.180125,0.000000
15,0.137172,0.249136,0.015179,0.590821,0.099311,0.245554
16,0.203321,0.124954,0.398080,0.249953,0.249962,0.000000
17,0.240385,0.200867,0.368345,0.248492,0.320904,0.000000
18,0.671804,0.362437,0.996821,0.900653,0.848384,0.000000
19,0.470260,0.563435,0.723389,0.446413,0.345237,0.000000
20,0.250118,0.358154,0.270401,0.258280,0.278530,0.000000
21,0.357276,0.448051,0.494684,0.200239,0.355120,0.000000
22,0.485364,0.234319,0.596427,0.428923,0.777895,0.244100
23,0.343754,0.249918,0.559390,0.699483,0.265359,0.249979
24,0.557525,0.144975,0.791657,0.959267,0.755658,0.414684
25,0.664200,0.618732,0.900666,0.008524,0.762112,0.449860
26,0.512474,0.414200,0.652469,0.434020,0.642432,0.217599
27,0.390064,0.345439,0.732002,0.425423,0.235303,0.259953
28,0.364917,0.159389,0.509683,0.192706,0.626389,0.123883
29,0.451473,0.365737,0.744192,0.302781,0.499570,0.000000
30,0.289252,0.226590,0.545061,0.449991,0.248960,0.000000
...,...,...,...,...,...,...
93,0.359753,0.207829,0.634235,0.152806,0.411855,0.324991
94,0.415202,0.336662,0.785986,0.451384,0.274556,0.249890
95,0.280372,0.247129,0.496538,0.435751,0.245592,0.000000
96,0.544050,0.380249,0.667376,0.666222,0.694100,0.272826
97,0.999718,0.999576,0.999745,0.999976,0.999654,0.999861
98,0.464970,0.346807,0.844164,0.583258,0.247026,0.630883
99,0.128416,0.000000,0.198363,0.449315,0.256417,0.000000
100,0.087141,0.000000,0.430820,0.000000,0.031152,0.000000
101,0.113720,0.000000,0.483076,0.000000,0.071801,0.000000
102,0.442155,0.396853,0.638835,0.448740,0.434328,0.238248
103,0.999982,0.999907,0.999943,0.999985,0.999976,0.999984
104,0.999995,1.000000,0.999897,0.999994,0.999959,1.000000
105,1.000000,0.999924,1.000000,1.000000,1.000000,0.999842
106,0.320643,0.231837,0.269150,0.598125,0.528272,0.087647
107,0.731387,0.623404,0.996099,0.774398,0.751571,0.246811
108,0.189412,0.124957,0.603184,0.000000,0.087734,0.000000
109,0.090240,0.000000,0.352529,0.000000,0.109747,0.000000
110,0.673925,0.867711,0.518590,0.963282,0.578112,0.699239
111,0.199663,0.254143,0.296651,0.475002,0.141399,0.000000
112,0.214265,0.269316,0.490320,0.000000,0.120207,0.010902
113,0.479536,0.572548,0.666161,0.424679,0.421794,0.000000
114,0.729143,0.862114,0.655805,0.944284,0.753463,0.276703
115,0.269747,0.234554,0.681449,0.000000,0.112717,0.232075
116,0.368155,0.428857,0.358013,0.320055,0.490305,0.036116
117,0.504430,0.446185,0.774949,0.000000,0.640014,0.000000
118,0.597896,0.243014,0.827171,0.799786,0.788796,0.449991
119,0.534711,0.442231,0.835551,0.000000,0.689343,0.000000
120,0.234501,0.249927,0.311275,0.449972,0.252298,0.000000
121,0.168245,0.281479,0.088424,0.000000,0.191633,0.485269
122,0.137557,0.138090,0.042646,0.592774,0.248464,0.000000

In [65]:
accesst.write_results('/mnt/d/Auguste/Projects/soh-bj/data/access_walk_school.csv')

### 2.2 Hospitals

In [35]:
accessth = AccessModel(network_type='walk',
                         transit_matrix_filename='/mnt/d/Auguste/Projects/soh-bj/data/walk_hospital_ep0.05.tmx',
                         sources_filename='data/orig/origin.csv',
                         source_column_names={'idx': 'id', 'population': 'skip', 'lat': 'lat', 'lon': 'lon'},
                         dest_column_names={'idx': 'id', 'category': 'category', 'capacity': 'skip', 'lat': 'lat', 'lon': 'lon'},
                         destinations_filename='data/dest/hospital_model.csv',
                         decay_function='logit')

In [40]:
dict_hos = {
"Clinics": [8,8,7,7,6,6,5,5,4,4],
"Hospitals": [10,10,10,9,9,9,8,8,8,7],
"Outpatient Facilities": [10,10,10,9,9,9,8,8,8,7],
"Emergency Departments": [8,8,7,7,6,6,5,5,4,4],
"Disease Control and Prevention Centers": [5,4,3,2,1,1,1,1,1,1]
}

In [41]:
accessth.calculate(upper_threshold=1800, category_weight_dict=dict_hos, normalize=True)

INFO:spatial_access.BaseModel:Using weights: {'Disease Control and Prevention Centers': [5, 4, 3, 2, 1, 1, 1, 1, 1, 1], 'Hospitals': [10, 10, 10, 9, 9, 9, 8, 8, 8, 7], 'Emergency Departments': [8, 8, 7, 7, 6, 6, 5, 5, 4, 4], 'Outpatient Facilities': [10, 10, 10, 9, 9, 9, 8, 8, 8, 7], 'Animal Hospitals': 'No decay', 'Clinics': [8, 8, 7, 7, 6, 6, 5, 5, 4, 4]}

,all_categories_score,Disease Control and Prevention Centers_score,Hospitals_score,Emergency Departments_score,Outpatient Facilities_score,Animal Hospitals_score,Clinics_score
1,0.185481,0.000000,0.171048,0.000000,0.000000,0.000000,0.740650
2,0.035686,0.000000,0.004122,0.000000,0.000000,0.000000,0.190713
3,0.142945,0.000000,0.000000,0.000000,0.000000,0.000000,0.791587
4,0.183553,0.000000,0.113657,0.000000,0.000000,0.000000,0.826095
5,0.846597,0.000000,0.998947,0.808499,0.647096,0.560341,0.999998
6,0.592121,0.022005,0.994427,0.245006,0.163957,0.388437,0.999971
7,0.170038,0.000000,0.282065,0.000000,0.000000,0.000000,0.469182
8,0.481136,0.556641,0.536589,0.188150,0.260894,0.106432,0.999915
9,0.156729,0.000000,0.105116,0.000000,0.000000,0.000000,0.691860
10,0.169649,0.000000,0.326835,0.000000,0.004701,0.002412,0.383595
11,0.258514,0.000000,0.442016,0.000000,0.000000,0.000000,0.691232
12,0.185131,0.000000,0.116428,0.000000,0.000000,0.000000,0.830192
13,0.794302,0.000000,0.994920,0.308578,0.829609,0.160162,0.999983
14,0.171658,0.000000,0.046133,0.000000,0.000000,0.000000,0.873322
15,0.180206,0.000000,0.003450,0.000000,0.000000,0.000000,0.992152
16,0.132654,0.000000,0.113660,0.000000,0.000000,0.000000,0.544229
17,0.142801,0.000000,0.109822,0.000000,0.000000,0.000000,0.606848
18,0.354427,0.000000,0.616881,0.000000,0.000000,0.000000,0.929482
19,0.285493,0.000000,0.360435,0.000000,0.000000,0.000000,0.977279
20,0.162805,0.000000,0.265279,0.000000,0.000000,0.080025,0.438219
21,0.199536,0.000000,0.114289,0.000000,0.000000,0.000000,0.913546
22,0.184760,0.000000,0.019869,0.000000,0.000000,0.000000,0.989869
23,0.330786,0.449826,0.339299,0.154280,0.000000,0.080076,0.997048
24,0.415675,0.013767,0.703114,0.000000,0.064916,0.100881,0.988599
25,0.314563,0.000000,0.113468,0.154309,0.227312,0.080073,0.999828
26,0.419404,0.445398,0.258485,0.196668,0.372426,0.000000,0.977476
27,0.313664,0.000000,0.517413,0.000000,0.000000,0.005139,0.869128
28,0.297195,0.000000,0.108711,0.149409,0.219287,0.000000,0.948930
29,0.149903,0.093096,0.123150,0.003050,0.003564,0.001174,0.594904
30,0.164699,0.000000,0.439837,0.000000,0.000000,0.015540,0.171668
...,...,...,...,...,...,...,...
93,0.136236,0.000000,0.013521,0.000000,0.000000,0.000000,0.731790
94,0.296464,0.000000,0.527351,0.000000,0.000000,0.000000,0.758460
95,0.137515,0.000000,0.000000,0.000000,0.000000,0.000000,0.761518
96,0.381651,0.151337,0.572194,0.154201,0.113577,0.150247,0.744933
97,0.879096,0.572553,0.999636,0.466572,0.854329,0.762705,0.999972
98,0.218717,0.000000,0.229237,0.000000,0.000000,0.001231,0.826942
99,0.051558,0.000000,0.012987,0.000000,0.000000,0.000000,0.263759
100,0.115625,0.000000,0.000000,0.000000,0.000000,0.000000,0.640296
101,0.100421,0.000000,0.000000,0.000000,0.000000,0.000000,0.556102
102,0.247510,0.000000,0.284588,0.000000,0.000000,0.073714,0.876450
103,0.980733,0.000000,0.999926,0.905578,0.999738,0.790413,0.999985
104,1.000000,0.000000,0.999782,1.000000,0.999341,0.850959,1.000000
105,0.939985,0.000000,1.000000,0.694016,1.000000,0.717126,0.999998
106,0.369015,0.006243,0.345616,0.116533,0.302439,0.084070,0.821717
107,0.268660,0.189328,0.200405,0.051403,0.002869,0.239788,0.999510
108,0.181339,0.000000,0.097703,0.001932,0.000000,0.000000,0.838653
109,0.154732,0.000000,0.096637,0.000000,0.000000,0.000000,0.695002
110,0.349178,0.000000,0.339994,0.000000,0.227024,0.000000,0.983921
111,0.223257,0.491127,0.227295,0.000000,0.000000,0.002180,0.751233
112,0.150401,0.000000,0.174745,0.000000,0.000000,0.000000,0.540194
113,0.164283,0.000000,0.132989,0.000000,0.000000,0.013543,0.683785
114,0.670267,0.993787,0.764464,0.151290,0.632203,0.062445,0.998036
115,0.162422,0.000000,0.219437,0.000000,0.000000,0.000000,0.531904
116,0.139441,0.000000,0.194998,0.000000,0.000000,0.000000,0.445579
117,0.241029,0.000000,0.390911,0.000000,0.000000,0.009021,0.677860
118,0.124812,0.000000,0.000000,0.000000,0.000000,0.120985,0.662413
119,0.282067,0.000000,0.386266,0.000000,0.000000,0.001270,0.914736
120,0.345424,0.000000,0.113594,0.154179,0.340633,0.000000,0.999872
121,0.099411,0.000000,0.107706,0.000000,0.000000,0.000000,0.370109
122,0.136162,0.000000,0.328473,0.000000,0.000000,0.000000,0.203857

In [42]:
accessth.write_results('/mnt/d/Auguste/Projects/soh-bj/data/access_walk_hospital.csv')

### 2.3 Subway

In [58]:
accesssub = AccessTime(network_type='walk',
                         transit_matrix_filename='/mnt/d/Auguste/Projects/soh-bj/data/walk_subway_ep0.05.tmx',
                         sources_filename='data/orig/origin.csv',
                         destinations_filename='data/dest/subway_model.csv')

The variables in your data set are:
>  id
>  lat
>  lon
>  type
>  OBJECTID
Enter the unique index variable: id
If you have no population variable, write "skip" (no quotations)
Enter the population variable: skip
Enter the latitude variable: lat
Enter the longitude variable: lon
The variables in your data set are:
>  lon
>  lat
>  id
>  category
Enter the unique index variable: id
If you have no capacity variable, write "skip" (no quotations)
Enter the capacity variable: skip
If you have no category variable, write "skip" (no quotations)
Enter the category variable: category
Enter the latitude variable: lat
Enter the longitude variable: lon

In [59]:
accesssub.calculate()

     time_to_nearest_subway  time_to_nearest_all_categories
1                      2206                            2206
2                      3096                            3096
3                      3352                            3352
4                      2502                            2502
5                       104                             104
6                         8                               8
7                      2230                            2230
8                      5476                            5476
9                      2172                            2172
10                     8024                            8024
11                     2564                            2564
12                     5767                            5767
13                       21                              21
14                     2519                            2519
15                     7760                            7760
16                     6495                            6495
17                     2610                            2610
18                      195                             195
19                     1868                            1868
20                      387                             387
21                     2426                            2426
22                     1807                            1807
23                     1754                            1754
24                     1762                            1762
25                      270                             270
26                     3374                            3374
27                     1027                            1027
28                     1007                            1007
29                    14345                           14345
30                     7173                            7173
..                      ...                             ...
93                     4110                            4110
94                    14358                           14358
95                     3292                            3292
96                      390                             390
97                      310                             310
98                     3006                            3006
99                     2184                            2184
100                    2609                            2609
101                    2480                            2480
102                     451                             451
103                      24                              24
104                       6                               6
105                      14                              14
106                    1007                            1007
107                    5719                            5719
108                    2160                            2160
109                    2469                            2469
110                     452                             452
111                   12207                           12207
112                    2766                            2766
113                   14065                           14065
114                    6912                            6912
115                    6423                            6423
116                     813                             813
117                     215                             215
118                   25927                           25927
119                     473                             473
120                    2807                            2807
121                    1025                            1025
122                    7428                            7428

[122 rows x 2 columns]

In [60]:
dfs_result = accesssub.calculate()

In [84]:
dfs_result["normalized_score"] = (dfs_result["time_to_nearest_subway"].max() - dfs_result["time_to_nearest_subway"])/ (dfs_result["time_to_nearest_subway"].max()-dfs_result["time_to_nearest_subway"].min())

In [86]:
dfs_result.head()

   time_to_nearest_subway  time_to_nearest_all_categories  normalized_score
1                    2206                            2206          0.915127
2                    3096                            3096          0.880792
3                    3352                            3352          0.870915
4                    2502                            2502          0.903707
5                     104                             104          0.996219

In [89]:
dfs_result.to_csv('/mnt/d/Auguste/Projects/soh-bj/data/walk_nearest_subway.csv', encoding='utf-8', index=False)

## 3. Output

In [4]:
dfschool = pd.read_csv('/mnt/d/Auguste/Projects/soh-bj/data/access_walk_school.csv')

In [29]:
dfschool.rename(columns = {'all_categories_score':'school_score'}, inplace = True)

In [33]:
dfschool = dfschool.iloc[:,0:2]

In [6]:
dfsubway = pd.read_csv('/mnt/d/Auguste/Projects/soh-bj/data/walk_nearest_subway.csv')

In [27]:
dfsubway = dfsubway.iloc[:,0:2]

In [9]:
dfaod = pd.read_csv('/mnt/d/Auguste/Projects/soh-bj/data/monthly_aod.csv')

In [12]:
dfhospital = pd.read_csv('/mnt/d/Auguste/Projects/soh-bj/data/access_walk_hospital.csv')

In [22]:
dfhospital.rename(columns = {'all_categories_score':'hospital_score'}, inplace = True)

In [35]:
dfh = dfhospital.iloc[:,0:2]

In [42]:
df_merge = [dfaod, dfh,dfschool, dfsubway]

In [43]:
df_merge = [df.set_index('id') for df in df_merge]

In [47]:
df_merge = df_merge[0].join(df_merge[1:])

In [50]:
df_merge.head()

,lat,lon,type,jan_mean,feb_mean,mar_mean,apr_mean,may_mean,jun_mean,jul_mean,aug_mean,sep_mean,oct_mean,nov_mean,dec_mean,annual_avg,hospital_score,school_score,time_to_nearest_subway
id,,,,,,,,,,,,,,,,,,,
1,40.091667,116.236300,soh,NaN,0.386505,0.863163,0.865420,0.176904,NaN,0.171427,NaN,0.084822,NaN,0.103501,0.120693,0.346554,0.185481,0.251615,2206
2,40.107715,116.435483,soh,NaN,0.375618,0.815283,0.266202,0.195898,NaN,0.208812,NaN,0.108330,NaN,0.117074,0.118710,0.275741,0.035686,0.179373,3096
3,40.174420,116.330348,soh,NaN,0.394961,0.820186,0.385149,0.203651,NaN,0.166548,NaN,0.121637,NaN,0.121168,0.125720,0.292378,0.142945,0.189387,3352
4,40.227015,116.189257,soh,NaN,0.317308,0.870615,1.234435,0.143698,NaN,0.096689,NaN,0.057631,NaN,0.073201,0.098241,0.361477,0.183553,0.433480,2502
5,40.171901,117.167209,soh,0.365431,0.259009,0.715585,0.356510,0.218565,NaN,0.238579,0.496352,0.263193,0.231291,0.075490,0.101250,0.301932,0.846597,0.987937,104

In [51]:
df_merge.to_csv('/mnt/d/Auguste/Projects/soh-bj/data/result.csv', encoding='utf-8', index=False)